.tc-product-package {
  ._inner {
    margin-top: 8px;
  }

  ._item-package {
    input {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #5fa185;
      font-size: 15px;
      color: #000;
      cursor: pointer;
    }

    input:checked + label {
      font-weight: 600;
      color: #5fa185;
    }
  }

  @media (width < 768px) {
    order: 10;
  }
}
