<aside class="tc-product-size">
  <div class="_item-size">
    <div class="_icon _y">
      <svg
        width="9"
        height="18"
        viewBox="0 0 9 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.85355 0.583947C4.65829 0.388684 4.34171 0.388684 4.14645 0.583947L0.964466 3.76593C0.769204 3.96119 0.769204 4.27777 0.964466 4.47303C1.15973 4.6683 1.47631 4.6683 1.67157 4.47303L4.5 1.64461L7.32843 4.47303C7.52369 4.6683 7.84027 4.6683 8.03553 4.47303C8.2308 4.27777 8.2308 3.96119 8.03553 3.76593L4.85355 0.583947ZM4.14645 17.4786C4.34171 17.6738 4.65829 17.6738 4.85355 17.4786L8.03553 14.2966C8.2308 14.1013 8.2308 13.7847 8.03553 13.5895C7.84027 13.3942 7.52369 13.3942 7.32843 13.5895L4.5 16.4179L1.67157 13.5895C1.47631 13.3942 1.15973 13.3942 0.964467 13.5895C0.769205 13.7847 0.769205 14.1013 0.964467 14.2966L4.14645 17.4786ZM4 0.9375L4 17.125L5 17.125L5 0.9375L4 0.9375Z"
          fill="#FC0884"></path>
      </svg>
    </div>
    <div class="_value">40</div>
    <div class="_label">см</div>
  </div>
  <div class="_item-size _x">
    <div class="_icon">
      <svg
        width="18"
        height="8"
        viewBox="0 0 18 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.390587 3.77145C0.195325 3.96671 0.195325 4.28329 0.390587 4.47855L3.57257 7.66053C3.76783 7.8558 4.08441 7.8558 4.27967 7.66053C4.47494 7.46527 4.47494 7.14869 4.27967 6.95343L1.45125 4.125L4.27967 1.29657C4.47494 1.10131 4.47494 0.784728 4.27967 0.589466C4.08441 0.394204 3.76783 0.394204 3.57257 0.589466L0.390587 3.77145ZM17.2852 4.47855C17.4805 4.28329 17.4805 3.96671 17.2852 3.77145L14.1032 0.589466C13.908 0.394204 13.5914 0.394204 13.3961 0.589466C13.2008 0.784728 13.2008 1.10131 13.3961 1.29657L16.2245 4.125L13.3961 6.95343C13.2008 7.14869 13.2008 7.46527 13.3961 7.66053C13.5914 7.8558 13.908 7.8558 14.1032 7.66053L17.2852 4.47855ZM0.744141 4.625L16.9316 4.625V3.625L0.744141 3.625V4.625Z"
          fill="#FC0884"></path>
      </svg>
    </div>
    <div class="_value">40</div>
    <div class="_label">см</div>
  </div>
</aside>

<style lang="scss" is:global>
  .tc-product-size {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background: #ffffffb2;

    ._item-size {
      display: flex;
      align-items: center;
      gap: 4px;

      font-size: 15px;
      font-weight: 600;
      line-height: 115%;
      color: #000;
    }

    ._icon {
      display: flex;
    }

    ._label {
      opacity: 0.3;
    }
  }
</style>
