<header class="_card-header">
  <h1 itemprop="name">Букет из 51 розы микс №536</h1>
  <div class="_code">
    <span class="_code-label">Артикул: </span>
    <span class="_code-value">1253</span>
  </div>
</header>

<style lang="scss">
  ._card-header {
    h1 {
      font-family: Lora;
      font-weight: 400;
      font-size: 25px;
      line-height: 105%;
      letter-spacing: 0%;
      text-transform: uppercase;
    }

    
  }
</style>
