<div class="tc-product-benefits">
  <div class="_item-benefit" inert>
    <div class="_label">Фото букета перед доставкой</div>
    <div class="_icon">
      <img src="/images/icon-check.png" />
    </div>
  </div>
  <div class="_item-benefit" inert>
    <div class="_label">Срочная доставка от 1 часа</div>
    <div class="_icon">
      <img src="/images/icon-truck.png" />
    </div>
  </div>
  <div class="_item-benefit" inert>
    <div class="_label">Цветы простоят 5 дней или заменим букет</div>
    <div class="_icon">
      <img src="/images/icon-shield.png" />
    </div>
  </div>
</div>
