<div class="tc-product-package">
  <div>Упаковка</div>
  <div class="_inner">
    <div class="_item-package">
      <input type="radio" name="product-package-selector" class="btn-check" id="btn-check-package-0" autocomplete="off" checked>
      <label for="btn-check-package-0">По умолчанию +0 руб.</label>
    </div>
    <div class="_item-package">
      <input type="radio" name="product-package-selector" class="btn-check" id="btn-check-package-1" autocomplete="off">
      <label for="btn-check-package-1">Крафт-бумага +490 руб.</label>
    </div>
    <div class="_item-package">
      <input type="radio" name="product-package-selector" class="btn-check" id="btn-check-package-2" autocomplete="off">
      <label for="btn-check-package-2">Цветная матовая пленка +490 руб.</label>
    </div>
    <div class="_item-package">
      <input type="radio" name="product-package-selector" class="btn-check" id="btn-check-package-3" autocomplete="off">
      <label for="btn-check-package-3">Согласовать со мной +490 руб.</label>
    </div>
  </div>
</div>
