<a class="tc-rating" href="#link-to-yandex">
  <div class="_logo">
    <svg
      width="112"
      height="39"
      viewBox="0 0 112 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.43945 19.4022C3.43945 10.5084 10.6472 3.29907 19.5426 3.29907C28.4347 3.29907 35.6457 10.5084 35.6457 19.4022C35.6457 28.296 28.4347 35.5053 19.5426 35.5053C10.6472 35.5053 3.43945 28.296 3.43945 19.4022Z"
        fill="#FC3F1D"></path>
      <path
        d="M21.603 12.4231H20.115C17.3872 12.4231 15.9524 13.8048 15.9524 15.8418C15.9524 18.1446 16.9443 19.2235 18.9814 20.6067L20.6642 21.7404L15.8284 28.9659H12.2148L16.5546 22.5021C14.0587 20.713 12.6577 18.9755 12.6577 16.0367C12.6577 12.3523 15.2261 9.83694 20.0973 9.83694H24.9331V28.9482H21.603V12.4231Z"
        fill="white"></path>
      <path
        d="M108.988 28.0571C110.335 28.0571 111.289 27.8139 111.999 27.2903V24.9151C111.27 25.42 110.391 25.738 109.156 25.738C107.08 25.738 106.22 24.1296 106.22 21.5861C106.22 18.9116 107.268 17.5464 109.175 17.5464C110.297 17.5464 111.401 17.9391 111.98 18.3132V15.8445C111.363 15.5078 110.297 15.2647 108.839 15.2647C105.117 15.2647 103.19 17.9391 103.19 21.6796C103.209 25.7754 105.098 28.0571 108.988 28.0571ZM90.7908 26.9723V24.5971C89.8931 25.2143 88.3595 25.7567 86.9568 25.7567C84.8247 25.7567 84.0205 24.7468 83.8896 22.6895H90.9217V21.1559C90.9217 16.8731 89.0328 15.2647 86.1339 15.2647C82.5805 15.2647 80.8972 17.9765 80.8972 21.6983C80.8972 25.9811 83.0106 28.0571 86.7137 28.0571C88.5652 28.0571 89.9305 27.5521 90.7908 26.9723ZM64.1026 15.4891V20.3517H60.2125V15.4891H57.2949V27.8139H60.2125V22.6708H64.1026V27.8139H67.0201V15.4891H64.1026ZM80.1679 25.4948H78.8774V15.4891H70.3865V16.5364C70.3865 19.5475 70.1995 23.4376 69.1709 25.4948H68.2358V30.6193H70.9289V27.8139H77.456V30.6193H80.1492V25.4948H80.1679ZM100.086 27.8139H103.396L98.7206 21.1746L102.835 15.4891H99.8988L95.7843 21.1746V15.4891H92.8667V27.8139H95.7843V21.7544L100.086 27.8139ZM86.0591 17.5464C87.4992 17.5464 87.948 18.7433 87.948 20.2956V20.5387H83.8896C83.9644 18.575 84.6751 17.5464 86.0591 17.5464ZM75.9598 25.4948H71.8453C72.6495 23.6433 72.874 20.2769 72.874 18.1448V17.7708H75.9598V25.4948Z"
        fill="black"></path>
      <path
        d="M54.8657 27.8139H51.892V13.0952H50.5642C48.1328 13.0952 46.8611 14.3108 46.8611 16.125C46.8611 18.1822 47.7401 19.136 49.5542 20.3517L51.0504 21.3616L46.7489 27.8139H43.5508L47.4222 22.0536C45.1966 20.4639 43.9435 18.9116 43.9435 16.2933C43.9435 13.0204 46.2252 10.7948 50.5454 10.7948H54.847L54.8657 27.8139Z"
        fill="black"></path>
    </svg>
  </div>
  <div class="_value">
    <svg
      width="18"
      height="17"
      viewBox="0 0 18 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7.86926 0.945177C8.16861 0.0238664 9.47202 0.0238686 9.77137 0.945179L11.0505 4.88207C11.1844 5.2941 11.5684 5.57305 12.0016 5.57305L16.1411 5.57306C17.1098 5.57306 17.5126 6.81267 16.7289 7.38207L13.38 9.81521C13.0295 10.0698 12.8828 10.5212 13.0167 10.9332L14.2959 14.8701C14.5952 15.7914 13.5407 16.5576 12.757 15.9882L9.4081 13.555C9.05761 13.3004 8.58301 13.3004 8.23253 13.555L4.8836 15.9882C4.09989 16.5576 3.04541 15.7914 3.34476 14.8701L4.62394 10.9332C4.75781 10.5212 4.61115 10.0698 4.26067 9.81521L0.911743 7.38207C0.12803 6.81267 0.530807 5.57306 1.49953 5.57306L5.63903 5.57305C6.07225 5.57305 6.45621 5.29409 6.59008 4.88207L7.86926 0.945177Z"
        fill="#FFD700"></path>
    </svg>
    <span>5.0</span>
  </div>
  <div class="_amount">731 оценка</div>
</a>
