<div class="tc-product-bonuses">
  <div>Бонусы к букету</div>
  <div class="_inner">
    <div class="_item-bonus">
      <img src="/images/cookie.png" />
    </div>
    <div class="_item-bonus">
      <img src="/images/letter.png" />
    </div>
    <div class="_item-bonus">
      <img src="/images/soil.png" />
    </div>
    <div class="_item-bonus">
      <img src="/images/instrument.png" />
    </div>
    <div class="_item-bonus">
      <img src="/images/bowl.png" />
    </div>
  </div>
</div>
