<div class="tc-tags">
  <div class="_item-tag is-new">Новинка</div>
  <div class="_item-tag is-promo">Акция</div>
  <div class="_item-tag is-hit">Хит</div>
</div>

<style lang="scss">
  .tc-tags {
    display: flex;
    gap: 8px;

    @media (width < 768px) {
      order: 3;
    }

    ._item-tag {
      padding: 4px 8px;
      border-radius: 4px;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      line-height: 1;
    }

    .is-new {
      background: #5897fb;
    }

    .is-promo {
      background: #ff3551;
    }

    .is-hit {
      background: #ff9900;
    }
  }
</style>
