<div class="tc-buy">
  <div class="_price">4990 руб.</div>
  <button class="button button-lg add-to-cart">Купить</button>
  <p class="_description">Для данного товара доступна бесплатная доставка по Москве</p>
  <button class="button button-lg add-to-cart-with">Купить с менеджером</button>
</div>

<style lang="scss" is:global>
  .tc-buy {
    ._price {
      margin-bottom: 32px;
      font-family: Lora;
      color: #404040;
      font-size: 28px;
      font-weight: 500;
    }

    .add-to-cart-with,
    .add-to-cart-with:focus,
    .add-to-cart,
    .add-to-cart:focus {
      --_color: #fc0884;

      min-width: min-content;
      width: 100%;
      padding-inline: 8px;
      border-color: var(--_color);
      background: var(--_color);
      box-shadow: 5px 6px 10px 0px #0000002e;
      color: #fff;
      font-size: 20px;
      line-height: 1;
      font-weight: 600;
      text-transform: uppercase;
    }

    .add-to-cart:hover {
      --_color: color-mix(in oklab, #fc0884, #000 10%);
    }

    .add-to-cart-with {
      --_color: #5FA185;
    }

    .add-to-cart-with:hover {
      --_color: color-mix(in oklab, #5FA185, #000 10%);
    }

    ._description {
      padding: 4px;
      border: 1px solid currentColor;
      border-radius: 4px;
      color: #5FA185;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

    @media (width < 768px) {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr);
      gap: 16px;
      order: 4;

      ._price,
      ._description {
        grid-column: 1/-1;
      }

      ._description {
        order: 99;
      }
    }

    @media (width < 480px) {
      grid-template-columns: 100%;
    }
  }
</style>
