---
import CardGallery from "@/components/card/CardGallery.astro";
import CardTags from "@/components/card/CardTags.astro";
import CardBuy from "@/components/card/CardBuy.astro";
import CardSimilar from "@/components/card/CardSimilar.astro";
import CardRating from "@/components/card/CardRating.astro";
import CardBonuses from "@/components/card/CardBonuses.astro";
import CardPackage from "@/components/card/CardPackage.astro";
import CardFeatures from "@/components/card/CardFeatures.astro";
---

<!-- Вставляем его в контейнер в разметке вместо старого блока -->
<article class="tc-product-card">
  <div class="_product-card-inner">
    <div class="_gallery">
      <CardGallery />
    </div>

    <div class="_info single-product">
      <div class="_title">
        <header class="_card-header">
          <h1 itemprop="name">Букет из 51 розы микс №536</h1>
          <div class="_code">
            <span class="_code-label">Артикул: </span>
            <span class="_code-value">1253</span>
          </div>
        </header>
      </div>

      <div class="_col">
        <CardTags />
        <CardBuy />
        <CardSimilar />
      </div>
      <div class="_col">
        <CardRating />
        <CardBonuses />
        <CardPackage />
      </div>
    </div>
    <div class="_features">
      <CardFeatures />
    </div>
  </div>
</article>
