<div class="tc-product-similar">
  <div>Похожие варианты</div>
  <input id="similar-checkbox" type="checkbox" />
  <div class="_inner">
    <div class="_group for-count">
      <a href="#" class="_item-similar">3</a>
      <a href="#" class="_item-similar">5</a>
      <a href="#" class="_item-similar">7</a>
      <a href="#" class="_item-similar">9</a>
      <a href="#" class="_item-similar">11</a>
      <a href="#" class="_item-similar">17</a>
      <a href="#" class="_item-similar is-current">51</a>
      <a href="#" class="_item-similar">75</a>
      <a href="#" class="_item-similar">101</a>
    </div>
    <div class="_group for-size">
      <a href="#" class="_item-similar is-current">40 см</a>
      <a href="#" class="_item-similar">60 см</a>
      <a href="#" class="_item-similar">90 см</a>
    </div>
    <div class="_group for-pack">
      <a href="#" class="_item-similar is-current">Букет</a>
      <a href="#" class="_item-similar">В корзине</a>
      <a href="#" class="_item-similar">В коробке</a>
    </div>
  </div>
  <div class="_collapser">
    <label for="similar-checkbox" class="_for-hide">Скрыть</label>
    <label for="similar-checkbox" class="_for-show">Раскрыть</label>
  </div>
</div>
