<div class="tc-banner _for-delivery-banner" inert>
  <div class="_bg-layer">
    <img src="/images/banner-delivery-bg-01.png" alt="" />
  </div>
  <div class="_content">
    <div class="_icon">
      <svg
        width="157"
        height="122"
        viewBox="0 0 157 122"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_d_277_36)">
          <path
            d="M53.8252 90.1622C59.9063 90.1622 64.8224 95.094 64.8223 101.178C64.8223 107.242 59.9069 112.175 53.8252 112.175C47.7617 112.175 42.8281 107.242 42.8281 101.178C42.8282 95.0944 47.7626 90.1622 53.8252 90.1622ZM115.842 90.1622C121.904 90.1622 126.839 95.0948 126.839 101.178C126.839 107.242 121.905 112.175 115.842 112.175C109.76 112.175 104.845 107.242 104.845 101.178C104.845 95.0935 109.761 90.1622 115.842 90.1622ZM53.8252 94.4044C50.0797 94.4044 47.0518 97.4331 47.0518 101.179C47.0518 104.903 50.078 107.952 53.8252 107.952C57.5724 107.952 60.5986 104.903 60.5986 101.179C60.5986 97.4331 57.5707 94.4044 53.8252 94.4044ZM115.842 94.4044C112.096 94.4044 109.068 97.4331 109.068 101.179C109.068 104.903 112.094 107.952 115.842 107.952C119.589 107.952 122.615 104.903 122.615 101.179C122.615 97.4331 119.587 94.4044 115.842 94.4044ZM97.29 31.879H115.271C117.624 31.8792 119.942 32.4569 122.021 33.5606C124.099 34.6642 125.876 36.2599 127.194 38.209L138.793 55.3887C140.394 57.7633 141.258 60.5697 141.258 63.4278V90.1622H146.735C147.313 90.1622 147.791 90.6386 147.791 91.2169V97.0069C147.791 97.5849 147.314 98.0613 146.736 98.0616H132.026C130.564 90.4483 123.886 84.6524 115.842 84.6524C107.799 84.6524 101.102 90.4471 99.6387 98.0616H70.0293C69.4567 95.0653 68.0736 92.3543 66.1094 90.1622H94.3311V34.8389C94.3311 33.2104 95.6483 31.8791 97.29 31.879ZM17.0654 90.1622H41.5498C39.5954 92.354 38.2133 95.065 37.6406 98.0616H17.0654C16.4872 98.0616 16.0107 97.5851 16.0107 97.0069V91.2169C16.0107 90.6751 16.4293 90.2215 16.958 90.1671L17.0654 90.1622ZM82.3193 20.0704C85.0112 20.0704 87.1831 22.2414 87.1836 24.9337V81.713C87.1835 82.2911 86.7071 82.7676 86.1289 82.7676H21.751C21.1729 82.7676 20.6964 82.291 20.6963 81.713V61.7872C23.4404 62.5103 26.328 62.9063 29.293 62.9063C47.7426 62.9063 62.7509 47.8979 62.751 29.4483C62.751 26.2051 62.2886 23.0517 61.4043 20.0704H82.3193ZM104.032 40.5215C102.516 40.5218 101.278 41.7596 101.278 43.2764V56.4346C101.277 56.797 101.347 57.1562 101.485 57.4913C101.623 57.8263 101.827 58.1305 102.083 58.3868C102.339 58.643 102.644 58.8463 102.979 58.9844C103.313 59.1222 103.671 59.1922 104.032 59.1915V59.1924H127.766C129.998 59.1921 131.29 56.6839 130.024 54.8663V54.8653L130.022 54.8624L120.746 41.6817L120.742 41.6758L120.737 41.67L120.638 41.5411C120.119 40.9104 119.343 40.5215 118.489 40.5215H104.032ZM29.2979 1.4942C44.7327 1.49435 57.2449 14.0067 57.2451 29.4415C57.2451 44.8764 44.7328 57.3896 29.2979 57.3897C13.8628 57.3897 1.34961 44.8765 1.34961 29.4415C1.34985 14.0066 13.8629 1.4942 29.2979 1.4942ZM29.2979 6.34772C16.5436 6.34772 6.20337 16.687 6.20312 29.4415C6.20312 42.1962 16.5434 52.5362 29.2979 52.5362C42.0524 52.536 52.3916 42.1961 52.3916 29.4415C52.3914 16.6873 42.0523 6.34787 29.2979 6.34772ZM28.5098 12.4893C29.6176 12.4893 30.5166 13.3883 30.5166 14.4962V27.2432L31.1455 27.4122L38.3135 29.3448C39.3837 29.6335 40.0178 30.7353 39.7295 31.8047C39.4882 32.6987 38.6781 33.2901 37.793 33.2901C37.6206 33.2901 37.4429 33.267 37.2666 33.2198L27.9873 30.7188C27.5614 30.6037 27.1853 30.3513 26.917 30.001C26.6488 29.6509 26.5032 29.2224 26.5029 28.7813V14.4962C26.5029 13.3884 27.402 12.4894 28.5098 12.4893Z"
            fill="#FC0884"
            stroke="white"
            stroke-width="1.7"></path>
        </g>
        <defs>
          <filter
            id="filter0_d_277_36"
            x="0.5"
            y="0.644592"
            width="156.141"
            height="120.38"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"></feColorMatrix>
            <feOffset dx="4" dy="4"></feOffset>
            <feGaussianBlur stdDeviation="2"></feGaussianBlur>
            <feComposite in2="hardAlpha" operator="out"></feComposite>
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.52 0"
            ></feColorMatrix>
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_277_36"></feBlend>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_277_36"
              result="shape"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
    <div class="_text">
      <div>Срочная доставка</div>
      <div><span class="_big">от 1&nbsp;часа</span></div>
    </div>
  </div>
</div>
